
      <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="" alt="logo placeholder" height="36" />
            App name
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link px-3 active"
                  aria-current="page"
                  href="mykitchen.html"
                  >My Kitchen</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="recipes.html">Recipes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="share.html">Share Hub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="profile.html">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>