<div class="sticky-bar fixed-bottom">
  <div class="container py-3">
    <nav>
      <ul
        class="menu-list m-0 p-0 d-flex justify-content-evenly align-items-center"
      >
        <!-- <li>
            <a
              class="d-flex justify-content-center align-items-center flex-column"
              href="index.html"
              title="Visit Home"
            >
              <img
                class="nav-icon"
                src="./images/icons/home.svg"
                alt=""
              />
              <p class="m-0 label">Home</p>
            </a>
          </li> -->
        <li>
          <a
            class="d-flex justify-content-center align-items-center flex-column"
            href="/mykitchen.html?storage=all_spaces"
            title="Visit My Kitchen"
          >
            <img
              class="nav-icon"
              src="./images/icons/mykitchen.svg"
              alt=""
            />
            <p class="m-0 label">My Kitchen</p>
          </a>
        </li>
        <li>
          <a
            class="d-flex justify-content-center align-items-center flex-column"
            href="/recipes.html"
            title="Visit Recipes"
          >
            <img class="nav-icon" src="./images/icons/recipes.svg" alt="" />
            <p class="m-0 label">Recipes</p>
          </a>
        </li>
        <li>
          <a
            class="d-flex justify-content-center align-items-center flex-column"
            href="/share.html"
            title="Visit Share Hub"
          >
            <img class="nav-icon" src="./images/icons/share-hub.svg" alt="" />
            <p class="m-0 label">Share Hub</p>
          </a>
        </li>
        <li>
          <a
            class="d-flex justify-content-center align-items-center flex-column"
            href="/profile.html"
            title="Visit Profile"
          >
            <img class="nav-icon" src="./images/icons/profile.svg" alt="" />
            <p class="m-0 label">Profile</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
