/* Layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 87px;
}

main {
  flex-grow: 1;
}

/* Navbar */
/* .navbar-brand, */
/* .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #84a98c;
} */

.nav-link:hover {
  color: #52796f;
}

.navbar-nav .active {
  color: #1D6961 !important;
}

/* Welcome Banner */
.jumbotron {
  background-color: #e9fded;
  /* font-family: "Montserrat", sans-serif; */
}

.welcome-intro {
  font-weight: bold;
  color: #84a98c;
}

/* Sticky Footer/ Navbar */
.sticky-bar {
  background-color: #fff;
  display: block;
  border-top: 1px solid #eee;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.sticky-bar .menu-list {
  list-style: none;
  text-align: center;
}

.sticky-bar .menu-list a {
  text-decoration: none;
  color: #7c7c7c;
  width: 55px;
}

.sticky-bar .menu-list .label {
  font-size: 10px;
}

.sticky-bar .nav-icon {
  width: 40px;
}

.footer {
  width: 100%;
}

.navbar-toggler {
  display: none;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .sticky-bar {
    display: none;
  }

  .sticky-bar .menu-list a {
    width: 150px;
    padding: 5px 20px;
  }

  .sticky-bar .menu-list .label {
    font-size: 16px;
  }

  .footer {
    bottom: 0;
  }

  body {
    padding-bottom: 0;
  }
}


/* Buttons */
.btn {
  padding: 10px 30px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  width: 100%;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #1D6961;
  color: #fff;
  border-color: #1D6961;
}

.btn-primary:hover {
  background-color: #1d6961b8;
  color: #fff;
  border-color: #1d6961b8;
}

.btn-primary:active {
  border-color: #1D6961 !important;
  background-color: #1D6961 !important;
}

.btn-white {
  background-color: #fff;
  color: #575757;
  border-color: #1D6961;
}

.btn-white:hover {
  background-color: rgb(255 255 255 / 23%);
  color: #fff;
  border-color: #fff;
}

.btn-outline {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn-outline:hover {
  background-color: rgb(255 255 255 / 23%);
  color: #fff;
  border-color: #fff;
}


@media only screen and (max-width: 767px) {
  .navbar {
    padding: 0;
  }
}

/* Firebase Login Form */
.firebase-login-form .firebaseui-container {
  border-radius: 10px;
}

.firebase-login-form .mdl-button--colored{
  border-radius: 10px;
  background-color: #1D6961;
}

.firebase-login-form .firebaseui-link, 
.firebase-login-form .firebaseui-id-secondary-link {
  color: #1D6961;
}

.firebase-login-form form {
  padding: 20px;
}

.firebase-login-form .firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: #1D6961;
}

.firebase-login-form .mdl-button--raised.mdl-button--colored:hover {
  background-color: #1d6961d9;
}

/* Form */
form fieldset .form-group input::placeholder {
  color: #CBCBCB;
}

.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
  appearance: none;
  background-image: url('../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
}

.is-active {
  display: block !important;
}

.form-control:focus {
  border-color: #609690;
  box-shadow: 0 0 0 .1rem #016a5e21;
}

.gj-datepicker .btn {
  padding: 0;
  border-color: #dee2e6;
}

.gj-datepicker .btn:hover {
  background: #1D6961;
}

.gj-datepicker.gj-datepicker-bootstrap button[role=right-icon] {
  width: 3.2rem; 
}

.gj-datepicker.gj-datepicker-bootstrap button[role=right-icon] .gj-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.material-icons{
  cursor: pointer;
  color: #1D6961;
}