/* Layout */
body {
  margin-bottom: 87px
}

/* Navbar */
.navbar-brand,
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #84a98c;
}

.nav-link:hover {
  color: #52796f;
}

.navbar-nav .active {
  color: #52796f !important;
}

/* Welcome Banner */
.jumbotron {
  background-color: #e9fded;
  font-family: "Montserrat", sans-serif;
}

.welcome-intro {
  font-weight: bold;
  color: #84a98c;
}

/* Sticky Footer/ Navbar */
.sticky-bar {
  background-color: #84a98c;
  display: block;
}

.sticky-bar .menu-list {
  list-style: none;
  text-align: center;
}

.sticky-bar .menu-list a {
  text-decoration: none;
  color: #fff;
  width: 55px;
}

.sticky-bar .menu-list .label {
  font-size: 10px;
}

.sticky-bar .nav-icon {
  width: 40px;
}

.footer {
  width: 100%;
}

.navbar-toggler {
  display: none;
}

.footer .nav {
  display: none;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .sticky-bar {
    display: none;
  }

  .sticky-bar .menu-list a {
    width: 150px;
    padding: 5px 20px;
  }

  .sticky-bar .menu-list .label {
    font-size: 16px;
  }

  .footer {
    bottom: 0;
  }

  .footer .nav {
    display: block;
  }
}
